.mathbox-outer{
    background-color: #5B5B5B;
    width: 600px;
    border-radius: 10px;
    height:100px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 20px;
    margin:auto;
}
.katex {
    display: inline;
  }

.latex-clipboard{
  overflow: hidden;
  width: 600px;
  height: 100px;
  margin:auto;
  background-color: white;
  color:black;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: black;

}
.latex-clipboard:hover{
  border-color: blue;
  cursor: pointer;
}
.mathbox-wrapper{
  display: flex;
  flex-direction: column;
  gap:10px;
}
